.contenedor
{
    background-color: lightskyblue;
    padding: 5px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: "header header"
                            "nav nav"
                        "contenido ads"
                        "footer footer";
}
.contenedor .header
{
    grid-area: header;
    background-color: lightsteelblue;
}
.contenedor .nav
{
    background-color: #87aceb;
    grid-area: nav;
}
.contenedor .contenido
{
    background-color: #789cda;
    grid-area: contenido;
}
.contenedor .ads
{
    background-color: #6b86b4;
    grid-area: ads;
}
.contenedor .footer
{
    background-color: rgb(110, 166, 222);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pagination >li
{
    background-color: #87aceb;
}
.img-container {
    display: flex;
    justify-content: center;
    height: 500px; 
}


.img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #bfd1f1;
    padding: 50px;
    
}

.card
{
    margin: 30px;
}
.Ccf
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carousel-item
{
    display: flex;
    justify-content: center;
    height: 700px; 
}
#carouselExampleDark {
    margin: auto; 
    width: 45%; 
    height: 700px;
}
.carousel-caption h5, .carousel-caption p {
    color: white;
}



